$color: #5fc0cd #fff #eff0f4 #000;
$font-size: .32rem .36rem;
$text: left center right;
$float: left right none;
@mixin a {
    font-size: nth($list: $font-size, $n: 1);
    color: nth($list: $color, $n: 2);
    text-decoration: none;
}

%width {
    width: 100%;
    height: 1rem;
}

%margin {
    margin-top: .16rem;
    @extend %width;
    line-height: 1rem;
    background-color: nth($list: $color, $n: 2);
}

%images {
    float: nth($list: $float, $n: 1);
    background: url(./images/4.png) no-repeat;
}

html {
    font-size: 625%;
    body {
        background-color: nth($color, 3);
        header {
            width: 100%;
            height: .9rem;
            background-color: nth($list: $color, $n: 1);
            font-size: nth($list: $font-size, $n: 2);
            line-height: .9rem;
            text-align: nth($list: $text, $n: 2);
            color: nth($list: $color, $n: 2);
            .logout {
                float: nth($list: $float, $n: 2);
                margin-right: .3rem;
                @include a;
                &:hover {
                    @include a;
                }
                &:focus {
                    @include a;
                }
            }
            .login {
                float: nth($list: $float, $n: 1);
                margin-left: .3rem;
                @include a;
                &:hover {
                    @include a;
                }
                &:focus {
                    @include a;
                }
            }
        }
        .text {
            @extend %margin;
            .iphone {
                margin: .3rem 0 .29rem .43rem;
                width: .27rem;
                height: .41rem;
                @extend %images;
                background-position: -.2rem -.2rem;
            }
            .bot {
                margin: .24rem .33rem .25rem .46rem;
                width: .02rem;
                height: .52rem;
                @extend %images;
                background-position: -.2rem -1.84rem;
            }
            .color {
                float: nth($list: $float, $n: 1);
                padding: 0;
                width: 60%;
                font-size: nth($list: $font-size, $n: 1);
                color: nth($list: $color, $n: 4);
                border: none;
            }
            .locked {
                margin: .3rem 0 .29rem .43rem;
                width: .29rem;
                height: .43rem;
                @extend %images;
                background-position: -.2rem -1.01rem;
            }
        }
        .login-2 {
            margin-top: .69rem;
            @extend %width;
            font-size: nth($list: $font-size, $n: 2);
            font-weight: bolder;
            color: nth($list: $color, $n: 2);
            background-color: nth($list: $color, $n: 1);
            border: none;
        }
        .password {
            margin-top: .2rem;
            float: nth($list: $float, $n: 2);
            font-size: nth($list: $font-size, $n: 2);
            color: nth($list: $color, $n: 1);
            text-decoration: none;
        }
    }
}

@media screen and (max-width: 424px) {
    html {
        font-size: 312.5%;
        .iphone {
            margin: .09rem  0 .09rem .215rem !important;
            width: .54rem !important;
            height: .82rem !important;
            background-position: -.4rem -.4rem !important;
        }
        .bot {
            margin: .24rem .33rem .25rem .23rem !important;
            background-position: -.4rem -3.68rem !important;
        }
        .locked {
            margin: .07rem  0 .09rem .215rem!important;
            width: .58rem !important;
            height: .86rem !important;
            background-position: -.4rem -2.02rem !important;
        }
    }
}