$c1: #fff #000 #29bde0 #f0f0f0 #d9d9d9;
$c2: #fbfbfb #ee9e18 #eeeeee #fab344;
$fs: .34rem .26rem .36rem .28rem .4rem 625%;

.container {
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 0 3%;
}

html {
    font-size: nth($fs, 6);

    @media screen and (max-width: 550px) {
        font-size: nth($fs, 6) / 2;
    }

    body {
        background-color: nth($c1, 4);

        header {
            height: .9rem;
            line-height: .9rem;
            text-align: center;
            font-size: nth($fs, 1);
            color: nth($c1, 1);
            background-color: nth($c1, 3);
        }
    }
}

.returm {
    float: left;
    margin-top: .2rem;
    width: .5rem;
    height: .5rem;
    background: url(./images/1.png) no-repeat 50% 50%;

    @media screen and (max-width: 550px) {
        width: 1rem;
        height: 1rem;
        transform: scale(.5) translate(0, -.5rem);
    }
}

.help {
    float: right;
    margin-top: .2rem;
    width: .5rem;
    height: .5rem;
    background: url(./images/2.png) no-repeat 50% 50%;

    @media screen and (max-width: 550px) {
        width: 1rem;
        height: 1rem;
        transform: scale(.5) translate(0, -.5rem);
    }
}

.box1 {
    margin-top: .2rem;
    text-align: center;

    .title {
        float: left;
        padding: 1.18rem 0;
        width: 20%;
        height: 4.5rem;
        border-right: solid .01rem nth($c2, 1);
        font-size: nth($fs, 3);
        background-color: nth($c1, 1);
    }
}

.people {
    float: left;
    padding: .5rem .3rem;
    width: 80%;
    height: 3.9rem;
    background-color: nth($c2, 1);
    overflow: auto;

    .accountant {
        float: left;
        padding: .14rem 0;
        width: 50%;
        line-height: .4rem;
        font-size: nth($fs, 2);
        color: nth($c1, 5);

        span {
            display: inline-block;
            margin-right: .2rem;
            width: .1rem;
            height: .1rem;
            background-color: nth($c2, 2);
            transform: translate(0, -.04rem);
        }
    }

    .accountants {
        float: left;
        padding: .14rem 0;
        width: 50%;
        line-height: .4rem;
        font-size: nth($fs, 2);
        color: nth($c1, 5);

        span {
            display: inline-block;
            margin-right: .2rem;
            width: .1rem;
            height: .1rem;
            background-color: nth($c1, 3);
            transform: translate(0, -.04rem);
        }
    }
}

.set {
    float: left;
    width: 80%;
    height: .6rem;
    line-height: .6rem;
    border-top: solid .01rem nth($c1, 5);
    font-size: nth($fs, 4);
    color: nth($c1, 3);
    background-color: nth($c2, 1);

    .bot3 {
        display: inline-block;
        width: .2rem;
        height: .2rem;
        background: url(./images/3.png) no-repeat 50% 50%;
    }
}

.box2 {
    margin-top: .1rem;

    .box2-word1 {
        padding: .25rem;
        height: 2rem;
        background-color: nth($c1, 1);

        .box2-text {
            border-bottom: solid .01rem nth($c1, 5);
            font-size: nth($fs, 4);
            color: nth($c1, 5);

            .box2-word2 {
                width: 60%;
                height: .75rem;
                border: none;
                font-size: .16rem;
                color: nth($c1, 2);
            }
        }
    }
}

.box3 {
    margin-top: .1rem;
    margin-bottom: 1.3rem;

    .box3-word1 {
        height: 1.9rem;
        background-color: nth($c1, 1);
        text-align: center;

        .box3-number {
            padding: .17rem .32rem;
            height: .73rem;
            font-size: nth($fs, 4);
            text-align: left;

            .box3-number-2 {
                display: inline-block;
                margin-left: .25rem;
                border: none;
                width: .4rem;
                height: .4rem;
                text-align: center;
                background-color: #f4f5f5;
                color: nth($c2, 4);
            }
        }

        .box4 {
            padding-top: .4rem;

            #RangeNumber {
                //去掉边框样式
                -webkit-appearance: none;
                outline: none;
                margin: 0 .2rem;
                width: 60%;
            }

            //去掉滑块按钮样式
            input[type=range]::-webkit-slider-thumb {
                -webkit-appearance: none;
                margin-top: -.18rem;
                width: .6rem;
                height: .36rem;
                background: url(./images/5.png) no-repeat 50% 50%;

                @media screen and (max-width: 550px) {
                    margin-top: -.14rem;
                    background-size: cover;
                }
            }

            //给滑动轨道（track）添加样式
            input[type=range]::-webkit-slider-runnable-track {
                height: .05rem;
                border-radius: .02rem;
                background-color: nth($c2, 4);
            }

            //点击按钮样式
            .minus {
                width: .28rem;
                height: .28rem;
                border: none;
                background: url(./images/6.png);

                @media screen and (max-width: 550px) {
                    width: .56rem;
                    height: .56rem;
                    transform: scale(.5);
                }
            }

            .plus {
                width: .28rem;
                height: .28rem;
                border: none;
                background: url(./images/7.png);

                @media screen and (max-width: 550px) {
                    width: .56rem;
                    height: .56rem;
                    transform: scale(.5);
                }
            }
        }
    }
}

footer {
    position: fixed !important;
    bottom: 0;
    background-color: nth($c1, 4);

    .box5 {
        margin-bottom: .2rem;
        height: .9rem;
        text-align: center;
        background-color: nth($c2, 4);

        .box5-word {
            line-height: .9rem;
            font-size: nth($fs, 5);
            color: nth($c1, 1);
        }
    }
}