$width: 100%;
$color: #fff #29bde0 #ffc865 #f66f6f #fbb435 #515151 #74d4eb #dddddd;
$fs: .34rem .33rem .26rem .3rem .2rem .4rem 625%;
$pf: fixed;
html {
    font-size: nth($fs, 7);
}

header {
    position: $pf;
    top: 0;
    width: $width;
    height: .9rem;
    border-bottom: solid .01rem nth($color, 7);
    text-align: center;
    line-height: .9rem;
    background-color: nth($color, 2);
    >.home {
        float: left;
        margin: .2rem .18rem;
        width: .5rem;
        height: .5rem;
        background: url(./images/15.png) no-repeat center;
    }
    >.help {
        float: right;
        margin: .2rem .18rem;
        width: .5rem;
        height: .5rem;
        background: url(./images/14.png) no-repeat center;
    }
    >.title {
        font-size: nth($fs, 1);
        color: nth($color, 1);
    }
}

main {
    margin-top: .9rem;
    margin-bottom: 1.6rem;
    background-color: nth($color, 2);
    >.image {
        width: $width;
        height: 2.28rem;
        background: url(./images/13.png) no-repeat center;
    }
    >.text {
        padding: .23rem 12.5% .5rem 12.5%;
        font-size: nth($fs, 2);
        color: nth($color, 3);
    }
    >.texts {
        padding: 0 0 .15rem 12.5%;
        font-size: nth($fs, 3);
        color: nth($color, 1);
        &>p {
            display: inline-block;
            margin-right: .4rem;
            font-size: nth($fs, 3);
            color: nth($color, 1);
        }
    }
    >.text-bottom {
        padding: 0 12.5% .16rem 12.5%;
        width: $width;
        height: 1.8rem;
        border-top: solid .02rem nth($color, 8);
        background-color: nth($color, 1);
        >.one {
            display: inline-block;
            margin: .1rem 0;
            font-size: nth($fs, 4);
        }
        >.time {
            float: right;
            margin: .2rem 0 .1rem 0;
            font-size: nth($fs, 5);
            color: nth($color, 8);
        }
        >.event {
            margin-top: .1rem;
            font-size: nth($fs, 3);
            color: nth($color, 8);
        }
    }
    >.bm {
        border-bottom: solid .02rem nth($color, 8);
    }
}

footer {
    position: $pf;
    bottom: 0;
    padding: .22rem;
    width: $width;
    height: 1.3rem;
    background-color: rgba($color: #29bde0, $alpha: 0.5);
    .button {
        padding-top: .13rem;
        width: 43%;
        height: .86rem;
        text-align: center;
        font-size: nth($fs, 6);
        color: nth($color, 1);
        border-radius: .1rem;
        &:nth-of-type(1) {
            float: left;
            background-color: nth($color, 4);
        }
        &:nth-of-type(2) {
            float: right;
            background-color: nth($color, 5);
        }
    }
}

@media screen and (max-width: 639px) {
    html {
        font-size: nth($fs, 7) / 2;
    }
    header {
        >.home {
            margin: -.09rem .18rem;
            width: .5rem * 2;
            height: .5rem * 2;
            transform: scale(.5);
        }
        >.help {
            margin: -.09rem .18rem;
            width: .5rem * 2;
            height: .5rem * 2;
            transform: scale(.5);
        }
    }
    main {
        >.image {
            width: $width;
            height: 2.28rem * 2;
            background: url(./images/13.png) no-repeat center;
        }
    }
}

@media screen and (max-width: 321px) {
    main {
        >.image {
            width: 6.4rem;
            background-size: 100% auto;
        }
    }
}