.container {
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 0 3%;
}

html {
  font-size: 625%;
}

@media screen and (max-width: 550px) {
  html {
    font-size: 312.5%;
  }
}

html body {
  background-color: #fff;
}

header {
  height: .9rem;
  line-height: .9rem;
  text-align: center;
  border-bottom: solid 0.01rem #74d4eb;
  font-size: 0.34rem;
  color: #fff;
  background-color: #29bde0;
}

header .returm {
  position: absolute;
  top: .2rem;
  left: 3%;
  width: .5rem;
  height: .5rem;
  background: url(../images/1.png) no-repeat 50% 50%;
  z-index: 9999;
}

@media screen and (max-width: 550px) {
  header .returm {
    width: 1rem;
    height: 1rem;
    transform: scale(0.5) translate(0, -0.5rem);
  }
}

main {
  padding: 1rem .4rem;
}

main > .title {
  padding: .2rem 0 .2rem .6rem;
  font-size: 0.36rem;
  font-weight: bolder;
}

main > .title-txt {
  padding: .2rem 0;
  font-size: 0.26rem;
  color: #c3c3c3;
}

main > .title-txt > span {
  display: inline-block;
  margin-right: .1rem;
  width: .1rem;
  height: .1rem;
  vertical-align: middle;
  background-color: #fbb435;
}

main .box {
  display: inline-block;
  width: 100%;
  padding: 1.1rem 10% 0 8%;
  text-align: center;
}

main .box .tbn {
  margin: .1rem 0;
  width: 100%;
  line-height: .9rem;
  font-size: 0.4rem;
  color: #fff;
  background-color: #fbb435;
  border: none;
  outline: none;
}
