header, footer {
  position: fixed;
  width: 100%;
  text-align: center;
}

header .drop .drop-down .drop-nav .drop-bar, header .drop .drop-down .drop-content .drop-a {
  color: #999999;
  text-decoration: none;
}

main .list .list-1 .list-top, main .list .list-1 .list-mid, main .list .list-1 .list-bottom {
  font-size: 0.28rem;
  color: #999999;
}

main .list .list-1 .list-top, main .list .list-1 .list-mid, main .list .list-1 .list-bottom, main .list .list-right {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

footer .footer-nav .footer-left, footer .footer-nav .footer-right {
  display: inline-block;
  width: .5rem;
  height: 100%;
  font-size: 0.2rem;
  color: #55a8b3;
}

header .drop .drop-down .drop-nav .triangle {
  border-top: 0.13rem solid #afbac0;
  border-left: .13rem solid transparent;
  border-right: .13rem solid transparent;
}

html {
  font-size: 625%;
}

html * {
  margin: 0;
  padding: 0;
}

html body {
  font-size: 0;
}

header {
  top: 0;
  height: .88rem;
  background-color: #5fc0cd;
}

header .button {
  position: relative;
  margin: .1rem 0 0 0;
  width: 1.45rem;
  height: .7rem;
  font-size: 0.34rem;
  color: #fff;
  background-color: #55a8b3;
  border-radius: .09rem;
  border: none;
  outline: none;
  z-index: 1;
}

header .button:hover {
  color: #5fc0cd;
  background-color: #fff;
  z-index: 2;
}

header .button:nth-of-type(1) {
  margin-left: 1rem;
  margin-right: -.09rem;
}

header .images {
  float: right;
  margin: .22rem 4.16% 0 0;
  width: .42rem;
  height: .44rem;
  background: url(./images/12.png) no-repeat;
  background-position: -.2rem -4.52rem;
}

header .drop {
  margin-top: .1rem;
  width: 100%;
  background-color: #fff;
  border-bottom: solid 0.01rem #e1e5e7;
}

header .drop .drop-down {
  display: inline-block;
  position: relative;
  width: 33%;
  height: .8rem;
  font-size: 0.28rem;
  text-align: center;
}

header .drop .drop-down .drop-nav {
  position: relative;
  display: block;
  top: .1rem;
  width: 100%;
  line-height: .6rem;
  border-right: 0.01rem solid #e1e5e7;
}

header .drop .drop-down .drop-nav:hover .drop-content {
  display: block;
}

header .drop .drop-down .drop-nav .drop-bar {
  margin-left: .39rem;
}

header .drop .drop-down .drop-nav .triangle {
  float: right;
  margin: .26rem .12rem 0 0;
}

header .drop .drop-down .no {
  border: none;
}

header .drop .drop-down .drop-content {
  position: absolute;
  display: none;
  margin-top: .1rem;
  width: 100%;
}

header .drop .drop-down .drop-content > li {
  list-style-type: none;
}

header .drop .drop-down .drop-content .drop-a {
  display: block;
  width: 100%;
  background-color: #fff;
}

header .drop .drop-down .drop-content .drop-a:hover {
  background-color: #e1e5e7;
}

main {
  margin-top: 1.68rem;
}

main .list {
  display: inline-block;
  width: 100%;
  padding: .3rem 0;
  border-bottom: solid 0.01rem #e1e5e7;
}

main .list .list-1 {
  display: inline-block;
  width: 50%;
}

main .list .list-1 .list-top .list-top-1 {
  display: inline-block;
  margin: 0 .15rem 0 .3rem;
  width: .24rem;
  height: .24rem;
  background: url(./images/12.png) no-repeat;
  background-position: -.2rem -1.46rem;
}

main .list .list-1 .list-mid {
  padding-left: .69rem;
  color: #333333;
}

main .list .list-1 .list-bottom .list-bottom-1 {
  display: inline-block;
  margin: 0 .16rem 0 .3rem;
  width: .19rem;
  height: .23rem;
  background: url(./images/12.png) no-repeat;
  background-position: -.2rem -.83rem;
}

main .list .list-right {
  float: right;
  width: 25%;
  line-height: .96rem;
  font-size: 0.28rem;
  text-align: right;
  color: #e63b0e;
}

main .list .list-right .list-right-1 {
  display: inline-block;
  margin-top: -.04rem;
  margin-right: .3rem;
  width: .19rem;
  height: .32rem;
  background: url(./images/11.png) no-repeat;
  vertical-align: middle;
}

footer {
  bottom: 0;
  height: 1rem;
  background-color: #f8fafb;
  border-top: solid 0.01rem #afbac0;
}

footer .footer-nav {
  padding: 0 22.91%;
  height: 1rem;
}

footer .footer-nav .footer-left {
  float: left;
}

footer .footer-nav .footer-left .footer-left-1 {
  display: inline-block;
  margin: .12rem 0 .14rem 0;
  width: .46rem;
  height: .4rem;
  background: url(./images/12.png) no-repeat;
  background-position: -.2rem -2.1rem;
}

footer .footer-nav .footer-mid {
  display: inline-block;
  margin: .03rem 0;
  width: .94rem;
  height: .94rem;
  background-color: #55a8b3;
  border-radius: 50%;
}

footer .footer-nav .footer-mid .footer-mid-1 {
  margin: .26rem 0 0 .255rem;
  width: .4rem;
  height: .41rem;
  background: url(./images/12.png) no-repeat;
  background-position: -.2rem -2.9rem;
}

footer .footer-nav .footer-right {
  float: right;
}

footer .footer-nav .footer-right .footer-right-1 {
  margin: .14rem 0 .135rem 0;
  width: .42rem;
  height: .41rem;
  background: url(./images/12.png) no-repeat;
  background-position: -.2rem -3.71rem;
}

@media screen and (max-width: 719px) {
  footer .footer-nav .footer-left, footer .footer-nav .footer-right {
    width: 1rem;
  }
  html {
    font-size: 312.5%;
  }
  html .images {
    margin: 0 4.16% 0 0;
    width: .84rem !important;
    height: .88rem !important;
    background-position: -.4rem -9.04rem !important;
    transform: scale(0.5);
  }
  html .list-right {
    width: 20% !important;
  }
  html .list-right .list-right-1 {
    width: .38rem !important;
    height: .64rem !important;
    transform: scale(0.5);
  }
  html .footer-left-1 {
    margin: 0 !important;
    width: .92rem !important;
    height: .8rem !important;
    background: url(./images/12.png) no-repeat;
    background-position: -.4rem -4.2rem !important;
    transform: scale(0.5);
  }
  html .footer-mid-1 {
    margin: .05rem .1rem !important;
    width: .8rem !important;
    height: .82rem !important;
    background: url(./images/12.png) no-repeat;
    background-position: -.4rem -5.8rem !important;
    transform: scale(0.5);
  }
  html .footer-right-1 {
    margin: 0 !important;
    width: .9rem !important;
    height: .82rem !important;
    background-position: -.3rem -7.42rem !important;
    transform: scale(0.5);
  }
}
