.top-row {
  display: flex;
  flex-wrap: wrap;
}

.footer-box1 {
  background-color: #fff;
  text-align: center;
}

.footer-box1 > .container > p {
  margin: .25rem 0;
}

.top-row .row-box {
  display: inline-block;
  width: 10%;
}

@media screen and (max-width: 800px) {
  .top-row .row-box {
    width: 20%;
  }
}

@media screen and (max-width: 600px) {
  .top-row .row-box {
    width: 50%;
  }
}

.top-row .row-box .box-link {
  display: inline-block;
  margin-bottom: .15rem;
  width: 100%;
  font-size: 0.14rem;
  color: #999;
}

.footer-box2 .footer-word1, .footer-box2 .footer-word2, .footer-box2 .footer-word4, .footer-word6 {
  font-size: 0.16rem;
  color: #fff;
}

.footer-box2 .footer-word2 .footer-word3, .footer-box2 .footer-word5 .footer-word6 {
  font-size: 0.14rem;
  color: #fff;
}

.footer-row {
  height: 1.75rem;
}

.footer-row:nth-of-type(3) {
  float: right;
  text-align: right;
}

@media screen and (max-width: 1000px) {
  .footer-row:nth-of-type(3) {
    float: left;
    text-align: left;
  }
}

.footer-box2 {
  display: inline-block;
  width: 100%;
  border-bottom: solid 0.01rem #32c086;
  background-color: #26a26f;
}

.footer-box2 .footer-word1 {
  padding: .4rem 0;
}

.footer-box2 .footer-word2 {
  padding: .15rem 0 .35rem 0;
}

.footer-box2 .footer-word4 {
  padding-top: .4rem;
}

.footer-box2 .footer-word5 {
  padding: 0rem 0 .32rem 0;
}

.footer-box2 .footer-word5 .footer-word6 {
  display: inline-block;
  padding: .18rem 0 0 0;
  margin-right: .15rem;
  white-space: nowrap;
}

.footer-word6 {
  padding: .35rem .25rem 0 0;
}

.footer-image {
  float: right;
  margin: .05rem .28rem 0 0;
  width: .92rem;
  height: .92rem;
  background: url(./1.png) no-repeat;
}

@media screen and (max-width: 1000px) {
  .footer-image {
    float: left;
  }
}

.footer-box3 {
  padding: .06rem 0;
  text-align: center;
  font-size: 0.12rem;
  color: #fff;
  background-color: #26a26f;
}
