@media screen and (max-width: 375px) {
    .logon {
        width: 4rem;
    }

    .login {
        margin: 0;
        width: 4rem;
    }
}

@media screen and (max-width: 768px) {
    .btn-nav {
        display: none   ;
    }
}

@media screen and (max-width: 768px) {
    .dropdowns {
        display: block;
        float: right;
        padding: 1.5rem 0;
        height: 100%;
    }
}

@media screen and (max-width: 768px) {
    .process {
        width: 7rem;
    }

    .process > p {
        padding-top: 2rem;
        font-size: 1.2rem;
        line-height: 1.2rem;
    }
}