html {
    font-size: 625%;
}

body {
    position: relative;
    background-color: #fbfbfb;
}

header {
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - 2.5rem);
    height: .5rem;
    background-color: #fbfbfb;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    border-bottom: solid .01rem #ededed;
    z-index: 9999;

    .identity {
        width: .7rem;
        line-height: .3rem;
        border-right: solid .01rem #c9c9c9;
        text-align: center;
        font-size: .16rem;
        color: #333;
    }

    .quit {
        width: .5rem;
        line-height: .5rem;
        text-align: center;
    }
}

.OrganMian {
    display: flex;

    .Organ {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 2.5rem;
        text-align: center;
        background-color: #232a3a;

        .OrganTitle {
            margin-bottom: .2rem;
            text-align: center;
            line-height: .5rem;
            font-size: .2rem;
            font-weight: 700;
            color: #fff;
            border-bottom: solid .01rem #4a5e6b;
        }

        .panel-heading {
            padding: 15px 0;
            color: #fff;
            background-color: #232a3a;
            cursor: pointer;
        }
    }
}

.panel-body {
    padding: 0;
}

.organcolor1 {
    background-color: #74d9ff;
}

.organcolor2 {
    padding: .15rem 0;
    font-size: .14rem;
    font-weight: 700;
    color: #fff;

    &:hover {
        background-color: #74d9ff;
    }
}

h4 a:hover {
    text-decoration: none;
}

.hellow {
    position: absolute;
    top: 1rem;
    left: 50%;
    font-size: .2rem;
    color: #333;
}

.article {
    position: absolute;
    left: 2.8rem;
    top: .8rem;
    right: .3rem;
}

.article-box {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    width: 100%;
    padding: .2rem 0;
}

.article-title {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
}

.article-txt {
    font-size: .14rem;
    font-weight: 700;
}

.calendar-box1 {
    width: 5rem;
    display: flex;
    align-items: center;
    flex-flow: row wrap;
}

.calendar-box2 {
    display: flex;
    flex-flow: row-reverse wrap;
    padding-right: .39rem;
    width: 5rem;
}

.calendar-btn1 {
    margin-left: .15rem;
    width: .75rem;
    border: none;
    border-radius: .1rem;
    color: #fff;
    background-color: #e03636;
}

.calendar-btn2 {
    margin-left: .15rem;
    width: .75rem;
    border: none;
    border-radius: .1rem;
    color: #fff;
    background-color: #25c6fc;
}

.arti-input {
    margin-left: .1rem;
    width: 1.7rem;
    height: .34rem;
    border-radius: .05rem;
    border: solid .01rem #999999;
    text-align: center;
}

.calendar-title {
    font-size: .14rem;
    font-weight: 700;
}

.calendar-txt {
    margin: 0 .2rem 0 .2rem;
    width: 15px;
    border: 2px solid #000;
}

.table>tbody>tr>td {
    vertical-align: middle
}

.arti {
    margin-top: .5rem;
    border: solid .01rem #e6e6e6;
    border-radius: .1rem;
    font-weight: 700;
}

.arti-title {
    padding: 0 .15rem;
    line-height: .5rem;
    background: #e5eaeb;
}

.arti-btn {
    float: right;
    margin-top: .1rem;
    line-height: .3rem;
    border-radius: .05rem;
    border: none;
    color: #fff;
    background-color: #4CAF50;
    text-decoration: none;
}

.list-btn {
    margin: 0 .05rem;
    line-height: .25rem;
    border-radius: .05rem;
    border: none;
}

.btn-1 {
    color: #fff;
    background-color: #6f64fa;
    text-decoration: none;
}

.btn-2 {
    color: #fff;
    background-color: #ff6a30;
    text-decoration: none;
}

.btn-3 {
    color: #fafafa;
    background-color: #bf0453;
    text-decoration: none;
}

.btn-4 {
    color: #fafafa;
    background-color: #03ac4f;
    text-decoration: none;
}

.arti-box {
    margin: .1rem;
    border: solid .01rem #e6e6e6;
    border-radius: .05rem;
}

.arti-uib {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.from {
    width: .6rem;
    text-align: center;
}

.arti-btns {
    margin-top: .1rem;
    line-height: .3rem;
    border-radius: .05rem;
    border: none;
    color: #fff;
    background-color: #ff0000;
    text-decoration: none;
}

.modal {
    top: 25%;
}