html {
  font-size: 625%;
}

.box {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 2.1rem 0;
  background: url(./images/timg1.jpg) no-repeat top;
  background-size: cover;
}

.box .input-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: .65rem auto;
  padding: .15rem;
  width: 33%;
  border-radius: 3%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.7);
}

@media screen and (max-width: 1000px) {
  .box .input-box {
    width: 40%;
  }
}

@media screen and (max-width: 800px) {
  .box .input-box {
    width: 46%;
  }
}

@media screen and (max-width: 550px) {
  .box .input-box {
    width: 50%;
  }
}

@media screen and (max-width: 400px) {
  .box .input-box {
    width: 75%;
  }
}

.box .input-box .box-txt {
  margin: 0;
  padding: .15rem 0;
  line-height: .25rem;
  font-size: .18rem;
  font-weight: 700;
  color: #03a9f4;
}

.box .input-box .box-input {
  margin-top: .12rem;
  margin-left: auto;
  margin-right: auto;
  padding: .05rem 0 .05rem .1rem;
  width: 80%;
  height: .45rem;
  border-radius: .05rem;
  background: #fff;
}

.box .input-box .box-input .nameige {
  float: left;
  margin: .075rem 0;
  width: .2rem;
  height: .2rem;
  background: url(./images/1.png) center center;
  background-size: cover;
}

.box .input-box .box-input .passige {
  float: left;
  margin: .075rem 0;
  width: .2rem;
  height: .2rem;
  background: url(./images/2.png) center center;
  background-size: 100% 100%;
}

.box .input-box .box-input .BIC {
  float: right;
  margin: .075rem 0;
  padding: 0 0 0 .1rem;
  width: calc(100% - .27rem);
  height: .2rem;
  border: none;
  border-left: solid .01rem #e9e9e9;
  font-size: .18rem;
  outline: none;
}

.box .input-box .box-input input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 20px white inset;
}

.box .input-box .info {
  margin: 0;
  font-size: .14rem;
  line-height: .2rem;
  color: #ff0000;
  transform: translateY(0.2rem);
}

.box .input-box .gin {
  margin-top: .35rem;
  margin-left: auto;
  margin-right: auto;
  padding: .11rem 0 .11rem .1rem;
  width: 80%;
  line-height: .16rem;
  border-radius: .05rem;
  font-size: .14rem;
  background-color: #03a9f4;
}

.box .input-box > p {
  margin: 0;
}

.box .input-box .nameige {
  background-image: url(./images/1.png);
}

.box .input-box .passige {
  background-image: url(./images/2.png);
}

.btn:focus {
  box-shadow: none !important;
}

body::before {
  display: table;
  content: "";
}

body::after {
  display: table;
  content: "";
}

.box::before {
  display: table;
  content: "";
}

.box::after {
  display: table;
  content: "";
}

.over {
  box-shadow: 0 0 .01rem .01rem #ff0000;
}
