.txt-word-2 {
    margin-left: -122.625px;
    text-align: center;
    font-family: sans-serif !important;
}

.txt-word-3 {
    text-align: left;
    word-break: break-all;
    font-size: 16px;
    font-family: sans-serif !important;
    text-transform: none !important;
}

.txt{
    text-transform: none !important;
}
.txt-a{
    color: #fff !important;
}