<div ng-controller="ArticleListCtrl" class="article">
    <div class="article-topbox">
        <div class="article-title">
            <p class="article-txt">标&emsp;题</p>
            <input type="text">
        </div>
        <div class="article-title">
            <p class="article-txt">创建者</p>
            <input type="text">
        </div>
        <div class="calendar">
            <p class="calendar-title">修改时间</p>
            <input ytpe="text">
            <div class="calendar-txt"></div>
            <input ytpe="text">
        </div>
        <div class="article-title">
            <p class="calendar-title">状态</p>
            <input type="text">
        </div>
        <div class="article-title">
            <p class="calendar-title">类型</p>
            <input type="text">
        </div>
        <input type="button" value="清空">
        <input type="button" value="搜索">
    </div>
    <!-- <h1>Article管理</h1>
    <input type="button" value="保存排序">
    <input type="button" value="+新增">
    <div ng-repeat="abc in abcd">{{abc.a}}</div> -->
    <table>
        <tr>
            <th ng-repeat="title in list">{{title.a}}</th>
        </tr>
        <tr ng-repeat="list in articleList">
            <td>{{$index+1}}</td>
            <td><img src="{{list.img}}" width="100px"></td>
            <td>{{list.title}}</td>
            <td>{{list.type}}</td>
            <td>{{list.author}}</td>
            <td>{{list.createAt | date:'yyyy/MM/dd hh:mm:ss'}}</td>
            <td>{{list.updateAt | date:'yyyy/MM/dd hh:mm:ss'}}</td>
            <td>{{list.status | putaway}}</td>
        </tr>
    </table>
</div>