<div class="box">
    <form class="input-box" name="longinform" novalidate ng-submit="loginSubmit()">
        <p class="box-txt">后台登陆</p>
        <div class="box-input" ng-class="{over:longinform.username.$error.required && change||over}">
            <div class="nameige"></div>
            <!-- required 属性规定必需在提交之前填写输入字段。 ng-untouched: 控件未失去焦点 ng-empty表示控件为空的-->
            <input ng-model="username" ng-focus="change=false" ng-blur="change=true" type="text" id="ipt-1" name="username"
                placeholder="用户名" required class="BIC">
        </div>
        <div class="box-input" ng-class="{over:longinform.password.$error.required && change||overs}">
            <div class="passige"></div>
            <input ng-model="password" ng-focus="change=false" ng-blur="change=true" type="password" id="ipt-2" name="password"
                placeholder="密码" required class="BIC">
        </div>
        <div class="infoHidden">
            <!-- ng-hide 指令在表达式为 true 时隐藏 HTML 元素。ng-show则相反 bind为单项绑定，错误时返回（loginForm) -->
            <P class="info" ng-show="showTxt">{{message}}</P>
            <p class="info" ng-show="longinform.username.$error.required && change">账号不能为空</p>
            <p class="info" ng-show="longinform.password.$error.required && change">密码不能为空</p>
        </div>
        <!-- g-disabled 指令设置表单输入字段的 disabled 属性。disabled则为禁用一个input元素在这则表示在某种情况下按钮不能提交 -->
        <button id="login" type="submit" class="btn gin" ng-disabled="longinform.$invalid">
            登陆 </button>
    </form>
</div>